
env
.vscode
__pycache__
.ipynb_checkpoints

# compressed files
*.tar
*.rar
*.zip

# model files
*.h5
*.pd
*.pth
*.ckpt
*.pt
*.sav
*.pb
*.pbtxt
*.onnx
*.tflite
*.mlmodel
*.hdf5
*.npy

#folders
data
test
train
dataset
debug
tmp
dst
src
